@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
    --color1: #000000;
    --color2: #02020241;
    --color3: #8b00ff;
    --color4: #2c3e50;
    --color5: #ffffff;
    --color6: #1c2833;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Teko", sans-serif;
}

body {
    background-color: var(--color1);
}


header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color1);
    color: var(--color5);

}

header h1 {}

#header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
    color: var(--color5);




}

#header-nav a {
    color: var(--color5);
    text-decoration: none;
    font-size: 22px;
    transition: all 1s ease;

}

#header-nav a:hover {
    font-size: 20px;
}



#personal {
    position: relative;
    width: 100%;


}

.personal-landscape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 1;
    position: relative;
}

.personal-landscape img {
    width: 100%;
    height: 50%;
    display: block;


}

.personal-photo {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.personal-photo img {
    border-radius: 50%;
    height: auto;
    width: 400px;
    transition: all 1.5s ease-in-out;
    opacity: 0;


}

.personal-photo img.show {
    opacity: 1;
}

.personal-photo img:hover {
    width: 450px;
}

.personal-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    margin-top: 20px;
    top: 63%;
    z-index: 2;
    position: absolute;
    width: 235px;
    height: 30px;

    border-radius: 200px;

}

.personal-socialmedia i {
    font-size: 50px;
    color: var(--color5);
    z-index: 2;
    position: absolute;
    transform: translate(-54%, -50%);
    transition: all 0.4s ease;
}

.personal-socialmedia i:hover {
    font-size: 70px;
}

.personal-text h3 {

    z-index: 2;
    position: absolute;
    color: var(--color5);
    top: 67.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;


}

#texto1 {
    top: 70%;
    right: 37%;
    position: absolute;
    color: var(--color5);
    font-size: 55px;
    box-shadow: 3px 3px 3px 3px(--color2);
}

#texto2 {
    top: 10%;
    right: 27%;
    position: absolute;
    color: var(--color1);
    font-size: 90px;
    box-shadow: 3px 3px 3px 3px(--color2);
}

#ferramentas {
    background-color: var(--color6);
    color: var(--color5);
    height: 450px;
}

#ferramentas h3 {
    padding: 55px;
    text-align: center;
    font-size: 30px;


}

.ferramentas-icone {
    margin-top: 38px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 85px;

}

.ferramentas-icone i.escondido {

    font-size: 200px;
    transition: all 2s ease;



}

.escondido {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.visivel {
    opacity: 1;
    transform: translateY(0);
}

.ferramentas-icone i:hover {

    font-size: 220px;
    transition: font-size 0.3s ease-in-out;



}

#sobre {
    text-align: center;
    margin-top: 10px;
    padding: 3%
}

#sobre h3 {

    color: var(--color4);
    margin-bottom: 20px;
    font-size: 50px;
}

#sobre p {
    color: var(--color5);
    font-size: 17px;
    text-align: left;
    display: flexbox;
    padding: 0 35% 0% 35%;


}

.skills {
    margin-top: 0.5%;
    padding: 0 35% 0% 11.0%;
    color: var(--color4);
    

}

.skills-tag {

    padding: 1% 34.8% 0% 34.8%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    gap: 10px;
    flex-wrap: 
}

.skills-tag span {
    font-weight: 200;
    padding: 1%;
    background-color: var(--color4);
    color: var(--color5);
    height: auto;
    flex-wrap: wrap;
    width: 100px;
    border-radius: 100px
    
}

.skills-tag span:hover {
    color: var(--color6);
    background-color: var(--color5);
}


