@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

:root {
  --color1: #000000;
  --color2: #02020241;
  --color3: #8b00ff;
  --color4: #2c3e50;
  --color5: #ffffff;
  --color6: #1c2833;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: var(--color1);
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color1);
  color: var(--color5);
}

#header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 22px;
  padding: 2%;
  font-weight: 700;
}

#header-nav a {
  text-decoration: none;
  font-size: 20px;
  color: var(--color5);
  border-radius: 120px;
}

#header-nav :hover {
  background-color: var(--color5);
  color: var(--color4);
}

#personal {
  position: relative;
  width: 100%;
}

.personal-landscape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 1;
  position: relative;
}

.personal-landscape img {
  width: 100%;
  height: 100%;
  display: block;
}

.personal-photo {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-47%, -70%);
  z-index: 2;
}

.personal-photo img {
  border-radius: 100%;
  height: auto;
  width: 350px;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.personal-photo img.show {
  opacity: 1;
}

.personal-photo img:hover {
  width: 370px;
}

.personal-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
  margin-top: 20px;
  top: 65%;
  z-index: 2;
  position: absolute;
  width: 235px;
  height: 30px;
  border-radius: 200px;
}

.personal-socialmedia i {
  font-size: 70px;
  color: var(--color5);
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;
}

.personal-socialmedia i:hover {
  font-size: 90px;
}

.personal-text h3 {
  z-index: 2;
  position: absolute;
  color: var(--color5);
  top: 67.5%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#texto1 {
  top: 80%;
  right: 12.2%;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
  color: var(--color5);
  font-size: 43px;
  box-shadow: 3px 3px 3px 3px (--color2);
}

#texto2 {
  top: 14%;
  right: 22.2%;
  position: absolute;
  color: var(--color5);
  font-size: 65px;
  box-shadow: 3px 3px 3px 3px (--color2);
  font-weight: 700;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transforme 2s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(50px);
}

#ferramentas {
  background-color: var(--color6);
  color: var(--color5);
  height: 450px;
}

#ferramentas h3 {
  padding: 55px;
  text-align: center;
  font-size: 30px;
}

.ferramentas-icone {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 85px;
  margin-left: 2.5%;
}

.ferramentas-icone i.escondido {
  font-size: 200px;
  transition: all 2s ease;
}

.escondido {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2.5s ease-out, transform 2.5s ease-out;
}

.visivel {
  opacity: 1;
  transform: translateY(0);
}

.ferramentas-icone i:hover {
  font-size: 210px;
  transition: font-size 0.3s ease-in-out;
}

#sobre {
  text-align: center;
  margin-top: 10px;
  margin: 4%;
}

#sobre h3 {
  color: var(--color4);
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
}

#sobre p {
  color: var(--color5);
  font-size: 15px;
  text-align: left;
  display: flexbox;
  padding: 0 35% 0% 35%;
}

.skills {
  margin-top: 0.5%;
  padding: 0 35% 0% 13%;
  color: var(--color4);
}

.skills-tag {
  padding: 1% 34.8% 0% 34.8%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  gap: 12px;
}

.skills-tag span {
  font-weight: 700;
  padding: 1%;
  background-color: var(--color4);
  color: var(--color5);
  height: auto;
  cursor: pointer;
  flex-wrap: wrap;
  width: 140px;
  border-radius: 100px;
}

.skills-tag span:hover {
  color: var(--color6);
  background-color: var(--color5);
}

#servicos {
  background-color: var(--color6);
  flex-direction: row;
  align-items: center;
  margin-top: 1%;
  padding: 1%;
}

#servicos h3 {
  color: var(--color5);
  text-align: center;
  padding: 5%;
  font-size: 60px;
}

#servicos-1 {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 8%;
  color: var(--color5);
  font-size: 30px;
  background-color: var(--color6);
  margin-top: 0.5%;
  transition: all 4s ease-in;
}

#servicos-1 i {
  background-color: var(--color4);
  height: auto;
  width: 500px;
  padding: 3%;
  border-radius: 30px;
  margin-bottom: 5%;
  position: relative;
  box-shadow: 0px 4px 8px var(--color1);
}

#servicos-1 h2 {
  font-size: 30px;
  margin-top: 20px;
}

#servicos-1 p {
  margin-top: 12px;
  font-size: 13px;
  font-weight: 200;
}

#servicos-1 i :hover {
  bottom: 30px;
}

#whatsapp {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  z-index: 2;
  position: fixed;
  top: 85%;
  left: 93%;
  font-size: 65px;
  background-color: var(--color5);
  border: 5px solid #25d366;
  height: 95px;
  width: 95px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

#whatsapp a {
  border: #ffffff;
  color: #25d366;
  cursor: pointer;
  z-index: 2;
  align-items: center;
  justify-content: center;
}

#whatsapp:hover {
  top: 84%;
}

@keyframes fadeIN {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

#whatsapp {
  animation: fadeIN 1s ease-in-out;
}

.personal-photo img {
  animation: fadeIN 1s ease-in-out;
}

#curriculo {
  display: flex;
  flex-direction: column;
  color: var(--color5);
  gap: 30px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
#curriculo h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#curriculo p {
  align-items: center;
  gap: 60px;
  margin-left: 600px;
  margin-right: 600px;
  text-align: left;
}

#curriculo a {
  font-style: italic;
  color: inherit;
}
